@font-face {
  font-family: "lobsterregular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/lobster-regular-webfont.woff2") format("woff2"),
    url("../fonts/lobster-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "latoregular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/lato-regular-webfont.woff2") format("woff2"),
    url("../fonts/lato-regular-webfont.woff") format("woff");
}